@model EgeStore.Models.Users.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}



<div class="col-md-6">
    <div class="panel panel-info">
        <h3 class="bg-warning">Register</h3>
        <div class="panel-body">
            <form asp-controller="User" asp-action="register" class="form-horizontal">
                @if (!Model.IsSuccess)
                {
                    <div><span class="text-danger">@Model.Error</span></div>
                }
                <div class="form-group">
                    <label asp-for="@Model.Username" class="control-label"></label>
                    <input asp-for="@Model.Username" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Password" class="control-label"></label>
                    <input asp-for="@Model.Password" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="@Model.PasswordAgain" class="control-label"></label>
                    <input asp-for="@Model.PasswordAgain" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>


